.modal-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.192);
}

.modal-window {
    width: 300px;
    margin: 200px auto;
    border: 1px solid gray;
    border-radius: 10px;
    /* #393b3d */
    background-color: white;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(186,149,186,1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(186,149,186,1);
    box-shadow: 0px 0px 7px 0px rgba(186,149,186,1);
}

.modal-header {
    text-align: center;
}

.modal-body {
   border-top: 1px solid gray; 
}

.modal-footer {
    border-top: 1px solid gray; 
}