.currency-card {
    margin: 15px;
    width: 150px;
    border: 1px solid gray;;
    border-radius: 8px;
    background-color: #393b3d;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(186,149,186,1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(186,149,186,1);
    box-shadow: 0px 0px 7px 0px rgba(186,149,186,1);
}

.currency-card:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9) ), url(./img/metalls.jpg);
    background-size: cover;
    -webkit-box-shadow: 0px 2px 16px 0px rgba(255,170,0,1);
    -moz-box-shadow: 0px 2px 16px 0px rgba(255,170,0,1);
    box-shadow: 0px 2px 16px 0px rgba(255,170,0,1);
    transform: translateY(-5px);
}

.currency-card:hover h4 {
    color: rgb(255, 153, 0);
    font-weight: 500;
}

.top {
    height: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid gray;
}

.currency-code p {
    margin: 5px 15px;
    color: orange;
    font-size: 16px;
}

.bottom {
    height: 75%;
}

.bottom h4 {
    font-weight: 300;
    color: rgb(209, 194, 194);
    margin: 5px;
}

.bottom p {
    margin: 5px;
    color: chartreuse;
}

