.confirm {
    border: none;
    border-radius: 5px;
    background-color: #2c2e30;
    padding: 10px 20px;
    color: orange
}
.confirm:hover {
    background-color: orange;
    color: #2c2e30;
}

.close:active {
    transform: scale(0.9);
}